@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextBold-Bold.woff2') format('woff2'),
        url('GESSTextBold-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextItalic-LightItalic.woff2') format('woff2'),
        url('GESSTextItalic-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextUltraLight-UltraLight.woff2') format('woff2'),
        url('GESSTextUltraLight-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextMedium-Medium.woff2') format('woff2'),
        url('GESSTextMedium-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextLight-Light.woff2') format('woff2'),
        url('GESSTextLight-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

